* {
    padding: 0;
    margin: 0;
}

.helloCanvas {
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    
    .canvasBox {
        width: 100%;
        height: 91vh;
        display: flex;
        justify-content: space-between;
        
        .box-left {
            flex: 9;
            display: flex;
            flex-direction: column;
            box-sizing: border-box;
            background-color: #cfcfcf;
            overflow: hidden;
            box-sizing: border-box;
            .content {
                overflow: auto;
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                box-sizing: border-box;
                .canvas {
                    box-sizing: border-box;
                    background-color: white;
                    border: 1px solid white;
                }
                &.updataW {
                    justify-content: flex-start;
                }
               &.updataH {
                   align-items: flex-start;
               }
            }
        }
        .canvas-tab-top {
            display: flex;
            justify-content: space-between;
            width: 100%;
            height: 50px;
            background-color: #f8f8f8;
            z-index: 3;
            .tools-left {
                display: flex;
                flex: 2;
                a {
                    color: rgb(0, 103, 221);
                    text-decoration: none;
                    width: 20%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    &:hover {
                        background-image: linear-gradient(to right,#abcccf,#eeeeef);
                    }
                }
                a.active {
                    background-image: linear-gradient(to right ,#ffffff,#dbdbff);
                    color: rgb(49, 49, 49);
                }
                .change-block {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    .listTitle {
                        display: flex;
                        align-items: center;
                        height: 40px;
                        justify-content: center;
                        padding: 0;
                        margin: 0;
                        .leading {
                            margin: 0 5px;
                            .icon {
                                width: 1.3vw;
                                height: 1.3vw;
                            }
                        }
                        .text {
                            font-size: 1vw;
                        }
                    }
                    
                }
            }
            .tools-right {
                flex: 3;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: space-evenly;
                user-select: none;
                .block {
                    width: 30%;
                    transform: scaleY(0.6);
                    .el-tooltip.el-slider__button {
                        transform: scaleX(0.6);
                    }
                }
                .reduceBtn {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    height: 100%;
                    width: 20px;
                    font-size: 1.5vw;
                    transform: scaleX(2);
                    &:hover {
                        cursor: pointer;
                        background-color: #eeeeef;
                    }
                }
                .addBtn {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-size: 1.6vw;
                    width: 40px;
                    height: 100%;
                    &:hover {
                        cursor: pointer;
                        background-color: #eeeeef;
                    }
                }
                .percentage {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-size: 1.1vw;
                    width: 50px;
                    height: 100%;
                    border-right: 1px solid rgb(233, 227, 227);
                    border-left: 1px solid rgb(233, 227, 227);
                }
                .last {
                    height: 100%;
                    width: 3vw;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    &:hover {
                        cursor: pointer;
                        background-color: #e0e4e4;
                    }
                    .icon {
                        width: 1.2vw;
                    }
                }
                .next {
                    height: 100%;
                    width: 3vw;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    &:hover {
                        cursor: pointer;
                        background-color: #e0e4e4;
                    }
                    .icon {
                        width: 1.2vw;
                    }
                }
                .clearCanvas {
                    height: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    &:hover {
                        cursor: pointer;
                        background-color: #e0e4e4;
                    }
                    .icon {
                        width: 3vw;
                        
                    }
                }
            }

            
        }
        .box-right {
            flex: 2;
            display: flex;
            box-sizing: border-box;
            background-color: white;
            position: relative;
            overflow: hidden;
        }
    }
}